body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    font-family: Arial;
}

.box {
    width: 420px;
    margin: 120px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

button, input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
}
