<!DOCTYPE html>
<html>
<head>
    <title>GSPCB AQI Processor</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="box">
    <h2>GSPCB AQI Data Processor</h2>

    <form id="uploadForm">
        <input type="file" name="files" multiple required>
        <button type="submit">Process Data</button>
    </form>

    <button id="downloadBtn" style="display:none;">Download Result</button>
    <p id="status"></p>
</div>

<script src="/static/js/app.js"></script>
</body>
</html>
